---
import Default from '@astrojs/starlight/components/PageSidebar.astro';
---

<div class="right-sidebar-banner">
    <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CWBDPK3L&placement=gibbokgithubio&format=cover" id="_carbonads_js" is:inline></script>
</div>

<Default {...Astro.props} />

<style>
    .right-sidebar-banner {
        margin-bottom: 1rem;
        padding: 1rem;
    }
</style>
